{% extends 'base.html' %}
{% block content %}	
{% load static %}
			
<body>
            <a class="cta" href="{% url 'signin' %}"><button>My Account</button></a>
        </header>
    </div>
    <div class="main">
        <div class="gradient">
            <div class="text">
                <h1 style="color: #0f2453;">Welcome To TravelWorld</h1>
            </div>
        </div>

        <div class="account">
            <h2 style="text-align: center;">Login</h2>
            <form action="" class="signup">
                Email: <br>
                <input type="email" placeholder="Email" required id="fname"/><br />
                Password: <br>
                <input type="password" placeholder="Password" minlength="8" required id="fname"/><br />
                <div class="displays">
                    <div class="buttons">
                        <button type="submit" class="submit">Login</button>
                        <button type="button" class="cancel">Cancel</button>
                    </div>
                    <div class="account-exist">
                        <h4>OR &nbsp;&nbsp;<a href="{% url 'signup' %}">Create Account</a></h4>
                    </div>
                </div>
            </form>
        </div>
        {% endblock %}
    </div>

</body>

</html>